&nbsp;
<button mat-button tabindex="1" routerLink="/upload" routerLinkActive="active" color="link">
  <span matBadge="1" matBadgePosition="before" matBadgeOverlap="false" matBadgeSize="medium">&nbsp;</span>
  <a routerLink="/upload" class="menu-link" routerLinkActive="active" routerLinkActiveOptions="{exact:true}" >Upload Logs</a>
</button>
&nbsp;
<button mat-button tabindex="1" routerLink="/try-baskerville" routerLinkActive="active" color="link">
  <span matBadge="2" matBadgePosition="before" matBadgeOverlap="false" matBadgeSize="medium">&nbsp;</span>
  <a routerLink="/try-baskerville" class="menu-link" routerLinkActive="active" routerLinkActiveOptions="{exact:true}">Baskerville Logs</a>
</button>
&nbsp;
<button mat-button tabindex="1" routerLink="/results" routerLinkActive="active" color="link">
  <span matBadge="3" matBadgePosition="before" matBadgeOverlap="false" matBadgeSize="medium">&nbsp;</span>
  <a routerLink="/results" class="menu-link" routerLinkActive="active" routerLinkActiveOptions="{exact:true}">Results</a>
</button>

