---
APP_CONFIG:
  PREFIX: '/api/1'
  SECRET_KEY: 'a very very secret key preferably through an env variable'  # e.g. like this !ENV ${NAME_OF_VAR}
  SQLALCHEMY_COMMIT_ON_TEARDOWN: True
  UPLOAD_FOLDER: '/path/to/uploads'
  JWT_SECRET_KEY: sosecret
  JWT_DEFAULT_REALM: 'Login Required'
  JWT_AUTH_HEADER_PREFIX: 'Bearer'
  SECURITY_PASSWORD_SALT: 'salt'
  FLASK_DEBUG: True
  ADMIN_EMAIL: 'admin@email'
  ADMIN_PASS: 'secret'
  PIPELINE: 'irawlog'
  BASKERVILLE_CONF: '/path/to/baskerville/conf/yaml'
  KAFKA_TOPICS:
    - 'test.feedback'
    - 'test.registration'