---
APP_CONFIG:
  PREFIX: '/api/1'  # if you change this, you'll need to change the baseApiUrl in the front-end `environment.ts`
  SECRET_KEY: 'a very very secret key preferably through an env variable'  # e.g. like this !ENV ${NAME_OF_VAR}
  SQLALCHEMY_COMMIT_ON_TEARDOWN: True
  UPLOAD_FOLDER: '/path/to/uploads'  # should be the full path to static/uploads
  JWT_SECRET_KEY: sosecret
  JWT_DEFAULT_REALM: 'Login Required'
  JWT_AUTH_HEADER_PREFIX: 'Bearer'
  SECURITY_PASSWORD_SALT: 'salt'
  FLASK_DEBUG: True
  ADMIN_EMAIL: 'admin@email'    # the admin details
  ADMIN_PASS: 'secret'
  PIPELINE: 'irawlog'
  BASKERVILLE_CONF: '/path/to/baskerville/conf/yaml'    # the path to your functional Baskerville setup
  KAFKA_TOPICS:
    - 'test.feedback'       # where test is the uuid of your organization, as provided to you by eq. It should be present in baskerville config.
    - 'test.registration'   # you can use environment variables like: - !ENV '${ORG_UUID}.registration'

USERS:
  - user:
    username: 'someusername'
    password: 'somepass1$'
    category: 'User'
    organization: 'test'
