<!--<mat-grid-list cols="3" rowHeight="3:1">
  <mat-grid-tile>
    <div class="card-menu card-small" tabindex="0" routerLink="/upload" routerLinkActive="active">
      <span matBadge="1" matBadgePosition="before" matBadgeOverlap="false" matBadgeSize="medium">&nbsp;</span>
      <a routerLink="/upload" class="menu-link" routerLinkActive="active" routerLinkActiveOptions="{exact:true}" >Upload Logs</a>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="card-menu card-small" tabindex="1" routerLink="/try-baskerville" routerLinkActive="active">
      <span matBadge="2" matBadgePosition="before" matBadgeOverlap="false" matBadgeSize="medium">&nbsp;</span>
      <a routerLink="/try-baskerville" class="menu-link" routerLinkActive="active" routerLinkActiveOptions="{exact:true}">Baskerville Logs</a>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="card-menu card-small" tabindex="1" routerLink="/results" routerLinkActive="active">
      <span matBadge="3" matBadgePosition="before" matBadgeOverlap="false" matBadgeSize="medium">&nbsp;</span>
      <a routerLink="/results" class="menu-link" routerLinkActive="active" routerLinkActiveOptions="{exact:true}">Results</a>
    </div>
  </mat-grid-tile>
</mat-grid-list>-->
<mat-chip-list aria-label="Try Baskerville steps" class="try-menu">
  <mat-chip>
    <span matBadge="1" matBadgePosition="before" matBadgeOverlap="false" matBadgeSize="medium">&nbsp;</span>
    <a routerLink="/upload" class="menu-link" routerLinkActive="active" routerLinkActiveOptions="{exact:true}" >Upload Logs</a>
  </mat-chip>
  <mat-chip color="primary">
    <span matBadge="2" matBadgePosition="before" matBadgeOverlap="false" matBadgeSize="medium">&nbsp;</span>
    <a routerLink="/try-baskerville" class="menu-link" routerLinkActive="active" routerLinkActiveOptions="{exact:true}">Baskerville Output</a>
  </mat-chip>
  <mat-chip color="accent">
    <span matBadge="3" matBadgePosition="before" matBadgeOverlap="false" matBadgeSize="medium">&nbsp;</span>
    <a routerLink="/results" class="menu-link" routerLinkActive="active" routerLinkActiveOptions="{exact:true}">Results</a>
  </mat-chip>
</mat-chip-list>
