<mat-card class="mat-elevation-z5">
  <mat-card-title>Feedback</mat-card-title>
  <mat-card-content>
    <mat-horizontal-stepper linear="true" #stepper>
      <mat-step [stepControl]="contextFormGroup">
        <form [formGroup]="contextFormGroup">
          <ng-template matStepLabel>Tell us a bit about the reason for feedback</ng-template>
        <mat-grid-list cols="2" rowHeight="1:1">
          <mat-grid-tile>
            <mat-grid-tile-header>
            <h3>Create a new feedback context</h3>
            </mat-grid-tile-header>
            <app-feedback-context [feedbackContextVM]="feedbackContextVM" (created)="onCreated($event)"></app-feedback-context>
          </mat-grid-tile>
          <mat-grid-tile *ngIf="feedbackContextVM.feedbackContexts.length > 0">
            <mat-grid-tile-header>
              Or choose an existing one to update:
            </mat-grid-tile-header>
            <mat-card>
              <mat-form-field>
                <mat-label>Select an existing feedback context:</mat-label>
                <select (change)="fcChange($event)" formControlName="fc" matNativeControl >
                  <option value="" selected disabled></option>
                  <option *ngFor="let f of feedbackContextVM.feedbackContexts" [value]="f.id">{{f.id}}.{{f.reason}} {{f.reasonDescr}} {{f.start| date: 'yyyy-MM-dd'}}-{{f.stop| date: 'yyyy-MM-dd'}}</option>
                </select>
              </mat-form-field>
            </mat-card>

          </mat-grid-tile>
        </mat-grid-list>
          <div>
            <button mat-button matStepperNext [disabled]="!selectedFeedbackContext" i>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Filter out the request sets and provide feedback</ng-template>
          <app-results (change)="feedbackChange($event)"></app-results>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Submit</ng-template>
        <mat-card>
          <mat-card-content>
            <img  src="/assets/icons/Work-26.jpg" alt="" width="450" height="400">
          </mat-card-content>
          <mat-card-actions>
            <button mat-stroked-button *ngIf="!inProgress && !submitted" (click)="submitToBaskerville()">SUBMIT</button>
            <p *ngIf="!inProgress && submitted">Thank you, you are now done. Your feedback has been sent to Baskerville for processing to improve the predictions</p>
            <mat-spinner *ngIf="inProgress"></mat-spinner>
          </mat-card-actions>
        </mat-card>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <!--<button mat-button (click)="stepper.reset()">Reset</button>-->
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card-content>
</mat-card>
