<mat-grid-list cols="1" rowHeight="4:1">
  <mat-grid-tile  *ngIf="userIsGuest() || userIsAdmin()">
    <div class="card-menu card-small" tabindex="0" routerLink="/try-baskerville" routerLinkActive="active">
      <!--<span matBadge="1" matBadgePosition="before" matBadgeOverlap="false" matBadgeSize="medium">&nbsp;</span>-->
      <a routerLink="/try" class="menu-link" routerLinkActive="active" routerLinkActiveOptions="{exact:true}" >Try Baskerville</a>
    </div>
  </mat-grid-tile>
  <mat-grid-tile  *ngIf="!userIsGuest()">
    <div class="card-menu card-small" tabindex="1" routerLink="/setup" routerLinkActive="active">
      <a routerLink="/setup" class="menu-link" routerLinkActive="active" routerLinkActiveOptions="{exact:true}">Setup</a>
    </div>
  </mat-grid-tile>
  <mat-grid-tile *ngIf="!userIsGuest()">
    <div class="card-menu card-small" tabindex="2" routerLink="/components" routerLinkActive="active">
      <a routerLink="/components" class="menu-link" routerLinkActive="active" routerLinkActiveOptions="{exact:true}">Components</a>
    </div>
  </mat-grid-tile>
  <mat-grid-tile *ngIf="!userIsGuest()">
    <div class="card-menu card-small" tabindex="3" routerLink="/pipelines" routerLinkActive="active">
      <a routerLink="/pipelines" class="menu-link" routerLinkActive="active" routerLinkActiveOptions="{exact:true}">Pipelines</a>
    </div>
  </mat-grid-tile>
  <mat-grid-tile *ngIf="userIsAdmin()">
    <div class="card-menu card-small" tabindex="4" routerLink="/users" routerLinkActive="active">
      <a routerLink="/users" class="menu-link" routerLinkActive="active" routerLinkActiveOptions="{exact:true}">Users</a>
    </div>
  </mat-grid-tile>
  <mat-grid-tile *ngIf="userIsAdmin()">
    <div class="card-menu card-small" tabindex="5" routerLink="/stats" routerLinkActive="active">
      <a routerLink="/stats" class="menu-link" routerLinkActive="active" routerLinkActiveOptions="{exact:true}">Stats</a>
    </div>
  </mat-grid-tile>
  <mat-grid-tile *ngIf="!userIsGuest()">
    <div class="card-menu card-small" tabindex="6" routerLink="/feedback" routerLinkActive="active">
      <a routerLink="/feedback" class="menu-link" routerLinkActive="active" routerLinkActiveOptions="{exact:true}">Feedback</a>
    </div>
  </mat-grid-tile>
</mat-grid-list>
