<form [formGroup]="contextFormGroup">
  <mat-card>
    <mat-card-title>New Feedback Context</mat-card-title>
    <mat-form-field  appearance="outline">
      <mat-label>Select a reason:</mat-label>
      <!--<input formControlName="reason" matNativeControl>-->
      <select id="reason" (change)="reasonChange($event)" formControlName="reason" matNativeControl>
        <option value="" selected disabled></option>
        <option  *ngFor="let r of feedbackContextVM.feedbackContextType | keyvalue" [value]="r.value">{{r.value}}</option>
      </select>
    </mat-form-field>
    <br>
    <mat-form-field  appearance="outline">
      <mat-label>Description</mat-label>
      <textarea cols="30" rows="2" matInput matNativeControl placeholder="Description..." formControlName="reasonDescr" [value]="selectedDescription"></textarea>
    </mat-form-field>
    <br>
    <mat-form-field  appearance="outline">
      <mat-label>Period (start and stop of the incident)</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date">
        <input matEndDate formControlName="stop" placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
      <mat-error *ngIf="contextFormGroup.controls.start?.hasError('matStartDateInvalid')">Invalid start date</mat-error>
      <mat-error *ngIf="contextFormGroup.controls.stop?.hasError('matEndDateInvalid')">Invalid end date</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Additional notes</mat-label>
      <textarea cols="30" rows="4" matNativeControl placeholder="Notes" formControlName="notes"></textarea>
    </mat-form-field>
    <br>
    <mat-card-actions>
      <button mat-stroked-button (click)="submit()">SUBMIT</button>
    </mat-card-actions>
  </mat-card>
</form>
