.try-baskerville {
  padding: 10px;
  background-color: #c2c3c4;
}

.logs {
  height: 60vh;
  width: 60vw;
  z-index: 3;
}

.disabled-link {
  pointer-events: none;
}
::ng-deep .mat-vertical-stepper-header{
  pointer-events: none !important;
}
/*
#cancel-run {
  z-index: 2;
}

#run {
  z-index: 2;
}
*/
