<div class="try-baskerville">
  <!--<app-try-menu></app-try-menu>-->
  <mat-vertical-stepper [linear]="false" #stepper>
    <mat-step id="upload">
      <ng-template matStepLabel><a href="try-baskerville/#upload">Upload your logs or use the sample logs</a></ng-template>
      <app-upload [stepper]="stepper"></app-upload>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step id="logs">
      <ng-template matStepLabel><a href="try-baskerville/#logs">Baskerville output</a></ng-template>
      <app-logs></app-logs>
      <!--<button mat-raised-button (click)="cancelRun()" id="cancel-run">Cancel</button>-->
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step id="results">
      <ng-template matStepLabel><a href="try-baskerville/#results">Results</a></ng-template>
      <app-results></app-results>
      <button mat-button matStepperPrevious>Back</button>
    </mat-step>
  </mat-vertical-stepper>
</div>
