<div class="try-baskerville">
  <mat-vertical-stepper [linear]="true" #stepper>
    <mat-step id="upload">
      <ng-template matStepLabel><a href="try-baskerville/#upload">Upload your logs or use the sample logs</a></ng-template>
      <app-upload [stepper]="stepper"></app-upload>
      <div>
        <p>
          <button mat-button matStepperNext color="accent" [disabled]="!hasFileSelected()">Next</button>
        </p>
      </div>
    </mat-step>
    <mat-step id="logs">
      <ng-template matStepLabel>
        <a href="try-baskerville/#logs">Baskerville output</a>
      </ng-template>
      <h3>Baskerville has started processing your logs.</h3>
      <ul>
        <li>This can take a lot of time, depending on the timestamps on your logs.</li>
        <li>You can navigate out of this page if you'd like, Baskerville will keep running in the background</li>
        <li>Progress will be visible in the console below.</li>
        <li>Click here to <button mat-button color="warn" (click)="cancelRun()">CANCEL RUN</button></li>
      </ul>
<!--      <mat-chip-list class="mat-chip">
        <mat-chip>
          This can take a lot of time, depending on the timestamps on your logs.
        </mat-chip>
        <mat-chip>
          You can navigate out of this page if you'd like, Baskerville will keep running in the background
        </mat-chip>
        <mat-chip>Progress will be visible in the console below.</mat-chip>
      </mat-chip-list>-->

      <app-logs></app-logs>
      <!--<button mat-raised-button (click)="cancelRun()" id="cancel-run">Cancel</button>-->
      <div>
        <p>
          <button mat-button matStepperPrevious [disabled]="active()" color="accent">Back</button>
          <button mat-button matStepperNext [disabled]="active()" color="accent">Next</button>
        </p>
      </div>
    </mat-step>
    <mat-step id="results">
      <ng-template matStepLabel><a href="try-baskerville/#results">Results</a></ng-template>
      <p>
        <mat-label *ngIf="activeAppId">To provide feedback for your results for <mat-basic-chip>{{activeAppId}}</mat-basic-chip>&nbsp;<a mat-raised-button routerLink="/feedback">CLICK HERE</a> </mat-label>
      </p>
      <app-results></app-results>
      <p>
        <button mat-button matStepperPrevious color="accent">Back</button>
      </p>
    </mat-step>
  </mat-vertical-stepper>
</div>
