.in-progress{
  position: absolute;
  top: 5.5vh;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333333;
  opacity: 0.4%;
  z-index: 2;
  display: block;
}

.active {
  display: block!important;
  opacity: 0.4!important;
}

