.in-progress{
  position: absolute;
  top: 5.5vh;
  bottom: 0;
  left: 11.3vw;
  right: 0;
  background-color: #333333;
  opacity: 0.1%;
  z-index: 1;
  display: block;
}

.active {
  display: block!important;
  opacity: 0.5!important;
}

