<mat-card class="mat-elevation-z5">
  <mat-card-title>Pipelines <mat-chip color="accent" title="Work in progress... Not ready to be tested yet.">WIP</mat-chip></mat-card-title>
  <mat-card-content>
    <h4>Available Pipelines </h4>
    <table>
      <thead>
      <th>Pipeline</th>
      <th>Status</th>
      <th>Actions</th>
      </thead>
      <tr>
        <td>Preprocessing</td>
        <td>Status</td>
        <td>Stop <a routerLink="/pipelines/preprocessing" class="menu-link" routerLinkActive="active" routerLinkActiveOptions="{exact:true}">Edit</a></td>
      </tr>
      <tr>
        <td>Postprocessing</td>
        <td>Status</td>
        <td>Stop</td>
      </tr>
      <tr>
        <td>Prediction</td>
        <td>Status</td>
        <td>Stop</td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>

